@{
    ViewData["Title"] = "Cadastrar";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]  SistemaWebGestao</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/cor_main.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <main role="main" class="pb-3 cor-main login">
        <div class="container">
            <h2>Cadastro</h2>

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger mt-3">
                    @ViewBag.ErrorMessage
                </div>
            }

            @if (TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success mt-3">
                    @TempData["MensagemSucesso"]
                </div>
            }

            <form asp-action="Cadastrar" method="post">
                <div class="form-group mb-3">
                    <label for="nome">Nome:</label>
                    <input type="text" name="Nome" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                    <label for="endereco">Endereço:</label>
                    <input type="text" name="Endereco" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                    <label for="telefone">Número de Telefone:</label>
                    <input type="text" name="Telefone" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                    <label for="senha">Senha:</label>
                    <input type="password" name="Senha" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Cadastrar" class="btn cor-botao d-inline-block" />
                    <a href="@Url.Action("Entrar", "Conta")" class="btn cor-botao d-inline-block">Voltar</a>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 - SistemaWebGestao</p>
    </footer>
</body>
</html>


