@{
    ViewData["Title"] = "Contribuição Concluída";
}

<h2>Contribuição Concluída</h2>

<p>Sua contribuição foi registrada com sucesso!</p>
<a href="@Url.Action("LoginContribuinte", "Account")" class="btn btn-primary">Voltar ao Login</a>
