@{
    ViewData["Title"] = "Login Contribuinte";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - SistemaWebGestao</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main role="main" class="pb-3">
        <div class="container">
            <h2>Login - Contribuinte</h2>
            <form asp-action="EntrarContribuinte" method="post">
                <div class="form-group">
                    <label for="id">ID do Contribuinte:</label>
                    <input type="text" class="form-control" id="id" name="Id" required />
                </div>
                <div class="form-group">
                    <label for="telefone">Número de Telefone:</label>
                    <input type="text" class="form-control" id="telefone" name="Telefone" required />
                </div>
                <!-- Botões de login e cadastro -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary d-inline-block">Entrar</button>
                    <a href="@Url.Action("EntrarContribuinte", "Conta")" class="btn btn-secondary d-inline-block">Cadastrar</a>
                </div>

                @if (TempData["MensagemErro"] != null)
                {
                    <div class="alert alert-danger mt-3">
                        @TempData["MensagemErro"]
                    </div>
                }
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 - SistemaWebGestao</p>
    </footer>
</body>
</html>
